
<section>
    <div>
        <h2 class="text-3xl">Acerca de nosotros</h2>
        <p>Ruiz Instalaciones Eléctricas es una empresa joven que cuenta con personal certificado y una experiencia de más de 10 años en el sector de la electricidad, estamos en la mejor disposición para ofrecerle un servicio profesional y eficiente.</p>
        <button>CONTACTANOS</button>
    </div>
    <div>
        <img src="" alt="">
    </div>
</section>