

<section>
    <h2 class="text-3xl">Contactanos</h2>
    <div>
        <form action="">
            <input type="text">
            <input type="text">
            <input type="email">
            <input type="text">
            <button>ENVIAR</button>
        </form>
    </div>
    <div>
        <img src="" alt="">
    </div>
</section>