---
import Card from '../Astro/Card.astro'
---

<section>
    <h2 class="text-3xl">Nuestros Servicios</h2>
    <div>
        <Card title=''content=''/>
        <Card title=''content='' />
        <Card title=''content='' />
    </div>
</section>